body{
    margin-top:0!important;
    margin-bottom:1em!important;
    padding:0!important;
    background-color: #1f1d1d!important;
    font-family: 'Volkhov', serif;

}

div.container-fluid > div.center-block{
    margin-left: 10px!important;


}
.homebutton{
    display: block;
    margin-right:15px!important;
    float:left!important;

}
#form-registro-user .form-control{
    color: #49f6f4!important;
}


/*Carousel Home*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: 0 auto;
    padding: 10px 5px 10px 5px;
    height: 400px!important;
}
.carousel{
    margin-bottom:5%;

}
.carousel-control.left ,.carousel-control.right{
    width: 5%!important;
    background: rgb(131,204,237)!important;
}
/*Sidebar*/
.menu-main{
    margin-left: 1.5%!important;
    background-color: rgba(30,33,48,0.5)!important;
    border:none!important;
    padding-left: 0.5%!important;

}
#categories-sidebar:hover> #subcategories-sidebar{
    display:block!important;
    position: relative!important;
    left:50px;

}
#categories-sidebar{
    overflow: visible!important;
}
#subcategories-sidebar{
    left:0;
    transition-duration: 1s;
    display: none!important;

}
/*Custom nav pills*/
ul.nav-pills li.no-active a:hover{
    color: #00b3ee!important;
    font-weight: bold;
}
/*Custom CSS*/

.bg-alert-dark{
    margin-bottom: 10px;
    padding-left: 2%!important;
    background-color: rgba(30,33,48,0.5)!important;
}

.white{
    color: #F1F1F1!important;
}
.dark-blue{
    color:rgba(30,33,48,0.5)!important;
}
.light-blue{
    color: #49f6f4!important;
}
.jumbotron h1{
    font-size:32px!important;
    font-weight:bolder;
}
.jumbotron {
    height: 5%!important;
}
.jumbotron p{
    font-size:16px!important;

}
.row-center{
    margin:0 auto!important;
    text-align: center!important;

}
.form-padding{
    padding:0 5% 0 5%;
}
#form-registro-user select >option{
    background-color: rgba(30,33,48,0.9)!important;
}
.bg-none{
    background: none!important;
}
table thead tr th{
    background-color: #2e2e2e;
    color:#00bcd4;
    text-align: center!important;
}
table td{
    text-align: center!important;
    vertical-align: inherit!important;
}
.btn-fab-corner{
    position: fixed!important;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px!important;
    margin-bottom: 40px!important;
    z-index: 900;
}
.pagination{
    position: fixed!important;
    display: block!important;
    bottom: 0;
    margin-right: auto!important;
    margin-left:auto!important;
    margin-bottom: 20px!important;
    z-index: 900;
}
.orange{
    color: #ff5722!important;
}
.orangelight{
    color: #ff8a65!important;
}
video{
    cursor: pointer!important;
}
.card{
    margin-top:1em;
}
